.topPart{
    border-radius: 15px 15px 0px 0px;
    background-color: #DDEEF5;
    padding: 10px;
}

.matchPage{
    background-color: #FCFDFD;
    margin: 0% 15% 2%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Archivo', sans-serif;
    color: black;
    border-radius: 15px;
    
}

.matchcard {
    font-family: 'Archivo', sans-serif;
}

#title {
    font-family: 'Archivo', sans-serif;
}

#isMatched{
    color:maroon;
}

#muibutton{
    background-color: #DDEEF5;
    margin: 3%;
    color: black;
}

#btns{
    margin-top: 50px;
}