body{
    text-align: center;
}

.groupBtn{
    margin: 2% 5%;
}
.groupBtn>Button{
    margin: 2%;
}
.groupElement{
    margin: 2% 15%;
}

.topOfGroups{
display: block;
padding-bottom: 2%;
}

.card-buttons{
    padding-bottom: 2%;
}

#visitGroupButton, #requestButton{
    margin: 1%;
    background-color:#DDEEF5;
}

.textOnCard{
    font-style: normal;
    font-family: 'Archivo', sans-serif;
}



