.outerDiv{
    margin: 2% 15% 2%;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.2);
    border-radius: 5px;
}

/* hele diven */
.topOfGroups{
    align-items: center;
}

/* kortene */
.cardBackground{
    background-color: #FCFDFD;
    padding-bottom: 25px;
}


/* bakgrunn på øverste "GROUPS PAGE" BAREN      margin: 2% 15% 2%; */
.filterGroups{
    align-items: center;
    background-color:  #DDEEF5;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 25px;
    margin-bottom: 20px;
    
}

#filterButtons {
    margin: 15px;
    background-color: #c6d7dd;
}




