/*#admin {
    display: none;
    font-family: 'Archivo', sans-serif;
    width: 400px;
    overflow: hidden;
    box-shadow:0px 0px 15px -5px;
    transition: 0.3s;
    animation: ease-in;
    border-radius: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    align-items: center;
    background-color: #DDEEF5;
}
*/
#admin {
    display: none;
    font-family: 'Archivo', sans-serif;
    border-radius: 15px;
    background-color: #DDEEF5;
    margin: 15px;
    padding-top: 15px;
    align-items: center;
}

.outerDiv{
    align-items: center;
    text-align: center;
}

.header{
    padding-bottom: 2%;
    background-color: #DDEEF5;
    border-radius: 15px 15px 0px 0px;
    height: 200px;
}

.groupPage{
    align-items: center;
}

.groupBox{
    background-color: white;
    margin-top: 1%;
    border-radius: 15px;
    width: 80%;
    justify-content: center;
}

.information{
    font-family: 'Archivo';
    padding-top: 10%;
    
}

.memberBox{
    background-color: #DDEEF5;
    border-radius: 15px;
    margin: 8%;
    padding: 2%;
}

#des-container {
    margin: 15px;
    margin-right: 10px;
    margin-left: 10px;
}

#des {
    font-family: 'Archivo', sans-serif;
    overflow: hidden;
    box-shadow:0px 0px 15px -5px;
    transition: 0.3s;
    animation: ease-in;
    border-radius: 15px;
    margin: auto;
    width: 100%;
}

#showAdmin {
    display: none;
    margin: 15px;
}

#desc {
    font-family: 'Archivo', sans-serif;
    width:300px;
    overflow: hidden;
    box-shadow:0px 0px 15px -5px;
    transition: 0.3s;
    animation: ease-in;
    border-radius: 15px;
    background-color: beige;
    margin: auto;

}

.text{
    margin: 10px;
    align-items: center;
}

.membersList {
    margin-bottom: 15px;
}

.obsButton {
    margin: 20px;
}

.remove-users {
    margin: 25px;
}

#btnID {
    background-color: #c6d7dd;
    color: black;
   margin: 10px;
}
