.wrapper{
    box-shadow: 1px 3px 5px rgba(0,0,0,0.2);
}

/* hele diven */
.topOfGroups{
    align-items: center;
}

/* kortene */
.cardBackground{
    background-color: #FCFDFD;
    margin: 0% 10% 2%;
    padding-bottom: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

/* bakgrunn på øverste "GROUPS PAGE" BAREN */
.filterGroups{
    align-items: center;
    background-color: #FCFDFD;
    text-align: center;
    margin: 0% 15% 2%;
    padding-top: 10px;
    padding-bottom: 25px;
}