.testDiv{

}

/* hele diven */
.topOfGroups{
    align-items: center;
}

/* kortene */
.cardBackground{
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 25px;
    margin-bottom: 10px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    box-shadow: 5px 5px 5px rgb(194, 194, 194), 
    -5px 5px 15px rgb(194, 194, 194), 5px 5px 15px rgb(194, 194, 194);   
}

/* bakgrunn på øverste "GROUPS PAGE" BAREN */
.filterGroups{
    align-items: center;
    background-color: #DDEEF5;
    border-top-right-radius: 25px;
     box-shadow: 5px 5px 5px rgb(194, 194, 194), 
    -5px 5px 15px rgb(194, 194, 194), 5px 5px 15px rgb(194, 194, 194);
    border-top-left-radius: 25px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 10px;
    padding-bottom: 25px;
    
}

#filterByTimeButton {
    margin: 15px;
    background-color: #c6d7dd;
}

#removeFilterTimeBtn {
    margin: 15px;
    background-color: #c6d7dd;

}

#searchInput {
    margin-left: 20px;
}

