body{
    background-color:#EDEDED;
}

.user{
    background-color: #FCFDFD;
    margin: 0% 15%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Archivo', sans-serif;
    color: black;
    
}

h1{
    font-family: 'Archivo', sans-serif;  
    color: black;
    
}

.top-part{
    border-radius: 10%;
    background-color: #FCFDFD;
}

.username{
    border-radius: 10%;
    text-align: center;
    padding:2% 0% 0% 0%;
}

.avatar{
    padding: 0% 0%;
    display:block;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.interests{
    background-color: #DDEEF5;
    margin: 1% 15.5%;
    padding: 2%;
    border-radius: 3%;
}
.myInterests{
    display: inline;
}
.myInterests>p{
    display: inline;
    padding: 0% 2%;
}
.newInterest>div{
    display: inline;
}
#btnSend{
    background-color: #DDEEF5;
    padding: 1%;
margin: 3%;
height: 3%;
color: black;

}
#btnLogOut{
    background-color: #DDEEF5;
    margin: 3%;
    color: black;
}