body{
    background-color:#EDEDED;
    margin: 0%;
}

.user{
    background-color: #FCFDFD;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.2);
    margin: 2% 15% 2%;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Archivo', sans-serif;
    color: black;
}

h1{
    font-family: 'Archivo', sans-serif;  
    color: black;
    
}

.username{
    padding:2% 0% 0% 0%;
}

.avatar{
    padding: 0% 0%;
    display:block;
    text-align: center;
}

#ava{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
#av {
    align-items: center;
    text-align: center;
}

.interests{
    background-color: #DDEEF5;
    margin: 1% 15.5%;
    padding: 2%;
    border-radius: 3%;
}
.myInterests{
    display: inline;
}
.myInterests>p{
    display: inline;
    padding: 0% 2%;
}
.newInterest>div{
    display: inline;
}
#btnSend{
    background-color: #c6d7dd;;
    padding: 1%;
    margin: 3%;
    height: 3%;
    color: black;

}
#btnLogOut{
    background-color: #c6d7dd;;
    margin: 3%;
    color: black;
}