.Navbar{
  background-color: #FFFFFF;
}

.linksNav{
    text-decoration: "none";
    font-size: 20px;
    color:black;
    margin-left: 7%;
    text-decoration: none;
  }
  .linksNav:hover{
    color: blue;
  }

.navbarUser{
  float: right;
  margin: 0%;
  right:10%;
  top: 0%;
  color: black;


}