body{
    margin: 0%;
}

.wholesignUp{
display: block;
}


.imagesignUp{
margin: 0%;
position: absolute;
left: 0%;
right: 61.67%;
top: 0%;
bottom: 0%;
background: #DDEEF5;
box-sizing: border-box;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.imageLogo{
    position:absolute;
    margin-top:30%;
    margin-left: 23%;
    width: 50%;
}
.signUpPart{
    margin-left: 40%;
    margin-top: 0%;
}
