body{
    background-color:#E5E5E5;
}

.homepage{
    background-color: #FCFDFD;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Archivo', sans-serif;
    height: 700px;
}

.cardGroup{
    align-items: center;
    width: 400px;
}

.group{
    background-color: #DDEEF5;
    text-align: center;
    border-radius: 5%;
    width: 400px;
    height: 400px;
    align-items: center;
    display: inline-block;
    margin: 150px;
}

.navbar{
    margin-bottom: 20px;
}

.button {
    margin:3%;
}

.info {
    color: darkgrey;
}