body{
    background-color:#EDEDED;

    margin: 0%;
}

.homepage{
    padding-top: 2%;
    background-color: #EDEDED;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Archivo', sans-serif;
    height: 700px;
}

.cardGroup{
    align-items: center;
    width: 400px;
}

.filterBar{
    width: 100%;
    align-items: center;
}

.group{
    background-color: #DDEEF5;
    text-align: center;
    border-radius: 5%;
    width: 400px;
    height: 400px;
    align-items: center;
    display: inline-block;
    margin: 150px;
}


.button {
    margin:3%;
}

.info {
    color: darkgrey;
}